/* background color */
.container-fluid {
    background-image: url("unsplash.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: 1600px 1600px;
    opacity: 0.9;
    /* background-color: #007BA1; 
    opacity: 0.9; */
}
/* tag$a link styles */
    a .vgsLink:link {
    color: green;
    background-color: white;
    border: 2px solid green;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
a.vgsLink:visited {
    color: blue;
}
a.vgsLink:hover {
    color: blue;
}
a.vgsLink:active {
    color: yellow;
}
a.vgsLink:link {
    background-color: cyan;
}
a.vgsLink:hover {
    background-color: green;
}
/* other.... style */
